In [ ]:
A, B = map(int, input("두 정수를 입력하세요: ").split())
result = A + B
print("두 정수의 합은", result)

두 정수를 입력하세요: 1 3
두 정수의 합은 4

In [ ]:
print("Hello Python")

Hello Python